<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/custom.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  
	<title>Admin Dashboard</title>
</head>
<body>
  <div class="sidenav" id="navmenu">
  <center><h2>DASHBOARD</h2></center>
  <ul>

    <li><a href="#admin-profile" >My Profile</a></li>
    <li><a href="#student" >Student</a></li>
    <li><a href="#faculty"> Faculty</a></li>
    <li><a href="#subject"> Add Subjects</a></li>
    <li><a href="#timetable"> Timetable</a></li>
    <li><a href="#logout">Logout</a></li>
  </ul>
  
</div>
<!-- My Profile -->
  <div class="tab-content" id="admin-profile">
      <section class="wrapper">
        <br>
       <center><h2>My Profile</h2></center>
       <br>
        <center><div class="card">
  <img src="images/passport.jpg" class="card-img-top" alt="avatar">
  <div class="card-body">
  	<p class="card-text" th:text="'Id: '+${admin.id}"> ID:1</p>
    <p class="card-text" th:text="'FirstName: '+${admin.firstName}">FIRST NAME :ARTHADH </p>
    <p class="card-text" th:text="'LastName: '+${admin.lastName}">LAST NAME : BALAN</p>
    <p class="card-text" th:text="'Date Of Birth: '+${admin.dob}">DATE OF BIRTH</p>
    <p class="card-text" th:text="'ContactNo: '+${admin.contactNumber}">MOBILE NO: 7736381278 </p>
    <p class="card-text" th:text="'Registration Number: '+${admin.regNum}">REGISTRATION NUM:</p>
    <p class="card-text" th:text="'Email: ' + ${admin.email}">EMAIL: arthadhkallingal@live.com</p>    
  </div>
</div></center>
      </section>
  </div>
  <!-- Student -->
  <div class="tab-content" id="student">
  <section class="wrapper">
    <div class="wrapper-container">
      <center><h2>Manage Student</h2></center>
      <div class="add-student">
         <a href="#" data-toggle="modal" data-target="#exampleModal" class="btn btn-info btn-lg">
        <span class="glyphicon glyphicon-plus"></span> Add Student
        </a>
      </div>

<!------------------------------------------------student modal---------------------------------->

<div class="modal fade-in" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">d
    <div class="modal-content">
      <div class="modal-header">
        <center><h2 class="modal-title" id="exampleModalLabel"><b>STUDENT REGISTRATION</b></h2></center>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/create-user" method="POST">
        <input type="hidden" th:value="student" th:name="role">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">FirstName:</label>
            <input th:field= "${dummy.user.firstName}" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">LastName:</label>
            <input th:field= "${dummy.user.lastName}" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Department:</label>
            <input type="hidden" th:id="student-dept" th:field="${dummy.user.department}">
            <select class="form-control" onchange="document.getElementById('student-dept').value=this.value;">
              <option disabled selected="selected" value="0">Select Department</option>
              <option
              			th:each="dept: ${T(com.lxisoft.sas.domain.enumeration.Department).values()}"
						th:value="${dept}" 
						th:text="${dept}">
			  </option>
            </select>
            <label for="recipient-name" class="col-form-label">Semester:</label>
            <input type="hidden" th:id="student-semester" th:field="${dummy.user.semester}">
        <select class="form-control" onchange="document.getElementById('student-semester').value=this.value;">
          <option disabled selected="selected" value="0" placeholder="Semester">Semester</option>
         <option
              			th:each="semester: ${T(com.lxisoft.sas.domain.enumeration.Semester).values()}"
						th:value="${semester}"
						th:text="${semester}">
			  </option>
        </select>
          </div>
          <div class="form-group">
											
						<label for="recipient-name" class="col-form-label">Date of Birth:</label>
            			<input type="hidden" th:id="date2" th:name="date">
						<select onchange="document.getElementById('date2').value=this.value;" class="form-control" id="Birthday_Day1">
											<option disabled selected="selected" value="0">Day:</option>
											<option value="1">1</option>
											<option value="2">2</option>
											<option value="3">3</option>
											<option value="4">4</option>
											<option value="5">5</option>
											<option value="6">6</option>
											<option value="7">7</option>
											<option value="8">8</option>
											<option value="9">9</option>
											<option value="10">10</option>
											<option value="11">11</option>
											<option value="12">12</option>
											<option value="13">13</option>
											<option value="14">14</option>
											<option value="15">15</option>
											<option value="16">16</option>
											<option value="17">17</option>
											<option value="18">18</option>
											<option value="19">19</option>
											<option value="20">20</option>
											<option value="21">21</option>
											<option value="22">22</option>
											<option value="23">23</option>
											<option value="24">24</option>
											<option value="25">25</option>
											<option value="26">26</option>
											<option value="27">27</option>
											<option value="28">28</option>
											<option value="29">29</option>
											<option value="30">30</option>
											<option value="31">31</option>
										</select> 
										<input type="hidden" th:id="month2" th:name="month">		
										<select onchange="document.getElementById('month').value=this.value;" class="form-control" id="Birthday_Month1">
											<option disabled selected="selected" value="0">Month:</option>
											<option value="1">Jan</option>
											<option value="2">Feb</option>
											<option value="3">Mar</option>
											<option value="4">Apr</option>
											<option value="5">May</option>
											<option value="6">Jun</option>
											<option value="7">Jul</option>
											<option value="8">Aug</option>
											<option value="9">Sep</option>
											<option value="10">Oct</option>
											<option value="11">Nov</option>
											<option value="12">Dec</option>
										</select>	
										<input type="hidden" th:id="year2" th:name="year">
										<select onchange="document.getElementById('year2').value=this.value;" class="form-control" id="Birthday_Year1">
											<option  disabled selected="selected" value="0">Year:</option>
											<option value="2012">2012</option>
											<option value="2011">2011</option>
											<option value="2010">2010</option>
											<option value="2009">2009</option>
											<option value="2008">2008</option>
											<option value="2007">2007</option>
											<option value="2006">2006</option>
											<option value="2005">2005</option>
											<option value="2004">2004</option>
											<option value="2003">2003</option>
											<option value="2002">2002</option>
											<option value="2001">2001</option>
											<option value="2000">2000</option>

											<option value="1999">1999</option>
											<option value="1998">1998</option>
											<option value="1997">1997</option>
											<option value="1996">1996</option>
											<option value="1995">1995</option>
											<option value="1994">1994</option>
											<option value="1993">1993</option>
											<option value="1992">1992</option>
											<option value="1991">1991</option>
											<option value="1990">1990</option>
										</select>		
            
          </div>
          
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Email:</label>
            <input th:field="${dummy.user.email}" type="email" class="form-control">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Mobile Number:</label>
            <input th:field="${dummy.user.contactNumber}" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">HouseName:</label>
            <input th:field="${dummy.address.houseName}" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Street:</label>
            <input th:field="${dummy.address.street}" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">District:</label>
            <input th:field="${dummy.address.district}" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Pin code:</label>
            <input th:field="${dummy.address.pincode}" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">State:</label>
            <input th:field="${dummy.address.state}" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Nationality:</label>
            <input th:field="${dummy.address.country}" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label"><br><b><font size="4px"> <u>Qualification</u></font></b><br><br><font size="3px" color="darkblue">Class X</font><br>Name of the Institution: </label>
            <input th:field="${dummy.list[__0__].grade}" value="sslc" type="hidden" class="form-control">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Board:</label>
            <input th:field="${dummy.list[__0__].university}" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Year of Passing:</label>
            <input th:field="${dummy.list[__0__].year}" type="text" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Percentage:</label>
            <input th:field="${dummy.list[__0__].percentage}" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label"><br><font size="3px" color="darkblue">Diploma</font> </label>
            <input th:field="${dummy.list[__1__].grade}" value="diploma" type="hidden" class="form-control">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Board:</label>
            <input th:field="${dummy.list[__1__].university}" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Year of Passing:</label>
            <input th:field="${dummy.list[__1__].year}" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Percentage:</label>
            <input th:field="${dummy.list[__1__].percentage}" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label"><br><font size="3px" color="darkblue">Class XII</font> </label>
            <input th:field="${dummy.list[__2__].grade}" value="plustwo" type="hidden" class="form-control">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Board:</label>
            <input th:field="${dummy.list[__2__].university}" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Year of Passing:</label>
            <input th:field="${dummy.list[__2__].year}" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Percentage:</label>
            <input th:field="${dummy.list[__2__].percentage}" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label"><br><b><font size="4px"> <u>Login Credentials</u></font></b><br><br>University Registration Number:</label>
            <input th:field="${dummy.user.regNum}" type="text"  class="form-control">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Password:</label>
            <input th:field="${dummy.user.password}" type="password" class="form-control">
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-tertiary">Save</button>
        <button type="reset" class="btn btn-primary">Reset</button>

      </div>
      </form>
    </div>
  </div>
</div>    
    </div>
  </section>
</div>



  <!-- Faculty -->
  <div class="tab-content" id="faculty">
      <section class="wrapper">
        <div class="wrapper-container">
          <center><h2>Manage Faculty</h2></center>
      <div class="add-faculty">
         <a href="#" data-toggle="modal" data-target="#exampleModal2"  class="btn btn-info btn-lg">
        <span class="glyphicon glyphicon-plus"></span> Add Faculty
        </a>
      </div>
    </div>
    <!------------------------------------------------faculty registration modal--------------------------------------------->
  <div class="modal fade-in" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <center><h2 class="modal-title" id="exampleModalLabel"><b>FACULTY REGISTRATION</b></h2></center>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/create-user" method="POST">
        <input type="hidden" th:value="faculty" th:name="role">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">FirstName:</label>
            <input th:field= "${dummy.user.firstName}" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">LastName:</label>
            <input th:field= "${dummy.user.lastName}" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Department:</label>
            <input type="hidden" th:id="faculty-dept" th:field="${dummy.user.department}">
            <select class="form-control" onchange="document.getElementById('faculty-dept').value=this.value;">
              <option disabled selected="selected" value="0">Select Department</option>
              <option
              			th:each="dept: ${T(com.lxisoft.sas.domain.enumeration.Department).values()}"
						th:value="${dept}" 
						th:text="${dept}">
			  </option>
            </select>
            
          </div>
          <div class="form-group">
											
						<label for="recipient-name" class="col-form-label">Date of Birth:</label>
            			<input type="hidden" th:id="date1" th:name="date">
						<select onchange="document.getElementById('date1').value=this.value;" class="form-control" id="Birthday_Day2">
											<option disabled selected="selected" value="0">Day:</option>
											<option value="1">1</option>
											<option value="2">2</option>
											<option value="3">3</option>
											<option value="4">4</option>
											<option value="5">5</option>
											<option value="6">6</option>
											<option value="7">7</option>
											<option value="8">8</option>
											<option value="9">9</option>
											<option value="10">10</option>
											<option value="11">11</option>
											<option value="12">12</option>
											<option value="13">13</option>
											<option value="14">14</option>
											<option value="15">15</option>
											<option value="16">16</option>
											<option value="17">17</option>
											<option value="18">18</option>
											<option value="19">19</option>
											<option value="20">20</option>
											<option value="21">21</option>
											<option value="22">22</option>
											<option value="23">23</option>
											<option value="24">24</option>
											<option value="25">25</option>
											<option value="26">26</option>
											<option value="27">27</option>
											<option value="28">28</option>
											<option value="29">29</option>
											<option value="30">30</option>
											<option value="31">31</option>
										</select> <br>
										<input type="hidden" th:id="month1" th:name="month">		
										<select onchange="document.getElementById('month1').value=this.value;" class="form-control" id="Birthday_Month2">
											<option disabled selected="selected" value="0">Month:</option>
											<option value="1">Jan</option>
											<option value="2">Feb</option>
											<option value="3">Mar</option>
											<option value="4">Apr</option>
											<option value="5">May</option>
											<option value="6">Jun</option>
											<option value="7">Jul</option>
											<option value="8">Aug</option>
											<option value="9">Sep</option>
											<option value="10">Oct</option>
											<option value="11">Nov</option>
											<option value="12">Dec</option>
										</select>	<br>
										<input type="hidden" th:id="year1" th:name="year">
										<select onchange="document.getElementById('year1').value=this.value;" class="form-control" id="Birthday_Year2">
											<option  disabled selected="selected" value="0">Year:</option>
											<option value="2012">2012</option>
											<option value="2011">2011</option>
											<option value="2010">2010</option>
											<option value="2009">2009</option>
											<option value="2008">2008</option>
											<option value="2007">2007</option>
											<option value="2006">2006</option>
											<option value="2005">2005</option>
											<option value="2004">2004</option>
											<option value="2003">2003</option>
											<option value="2002">2002</option>
											<option value="2001">2001</option>
											<option value="2000">2000</option>

											<option value="1999">1999</option>
											<option value="1998">1998</option>
											<option value="1997">1997</option>
											<option value="1996">1996</option>
											<option value="1995">1995</option>
											<option value="1994">1994</option>
											<option value="1993">1993</option>
											<option value="1992">1992</option>
											<option value="1991">1991</option>
											<option value="1990">1990</option>
										</select>		
            
          </div>
          
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Email:</label>
            <input th:field="${dummy.user.email}" type="email" class="form-control">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Mobile Number:</label>
            <input th:field="${dummy.user.contactNumber}" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">HouseName:</label>
            <input th:field="${dummy.address.houseName}" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Street:</label>
            <input th:field="${dummy.address.street}" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">District:</label>
            <input th:field="${dummy.address.district}" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Pin code:</label>
            <input th:field="${dummy.address.pincode}" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">State:</label>
            <input th:field="${dummy.address.state}" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Nationality:</label>
            <input th:field="${dummy.address.country}" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label"><br><b><font size="4px"> <u>Qualification</u></font></b><br><br><font size="3px" color="darkblue">PG</font><br>Name of the Institution: </label>
            <input th:field="${dummy.list[__0__].grade}" value="pg" type="hidden" class="form-control">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Board:</label>
            <input th:field="${dummy.list[__0__].university}" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Year of Passing:</label>
            <input th:field="${dummy.list[__0__].year}" type="text" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Percentage:</label>
            <input th:field="${dummy.list[__0__].percentage}" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label"><br><font size="3px" color="darkblue">Ph.D</font> </label>
            <input th:field="${dummy.list[__1__].grade}" value="phd" type="hidden" class="form-control">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Board:</label>
            <input th:field="${dummy.list[__1__].university}" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Year of Passing:</label>
            <input th:field="${dummy.list[__1__].year}" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Percentage:</label>
            <input th:field="${dummy.list[__1__].percentage}" type="text" class="form-control">
          </div>
        
          <div class="form-group">
            <label for="recipient-name" class="col-form-label"><br><b><font size="4px"> <u>Login Credentials</u></font></b><br><br>University Registration Number:</label>
            <input th:field="${dummy.user.regNum}" type="text"  class="form-control">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Password:</label>
            <input th:field="${dummy.user.password}" type="password" class="form-control">
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-tertiary">Save</button>
        <button type="reset" class="btn btn-primary">Reset</button>

      </div>
      </form>
    </div>
  </div>
</div> 
</div>


      </section>
  </div>
  
    <!-- Add Subjects -->
  <div class="tab-content" id="subject">
      <section class="wrapper">
        <h2>ADD SUBJECTS</h2>
        
        <form action="/add-subjects" method="POST">
        <div class="dropdown">
        <input type="hidden" th:id="subject-department" th:field="${dummy.user.department}">
  		<select class="subject" onchange="document.getElementById('subject-department').value=this.value;">
          <option disabled selected="selected" value="0" placeholder="Department">Department</option>
         <option
              			th:each="dept: ${T(com.lxisoft.sas.domain.enumeration.Department).values()}"
						th:value="${dept}" 
						th:text="${dept}">
			  </option>
        </select>
        <input type="hidden" th:id="subject-semester" th:field="${dummy.user.semester}">
        <select class="subject" onchange="document.getElementById('subject-semester').value=this.value;">
          <option disabled selected="selected" value="0" placeholder="Semester">SEMESTER</option>
         <option
              			th:each="semester: ${T(com.lxisoft.sas.domain.enumeration.Semester).values()}"
						th:value="${semester}"
						th:text="${semester}">
			  </option>
        </select>
       
        <br>
  <div class="form-row">
    <div class="col-3">
      <input th:field="${dummy.subjects[__0__].subjectCode}" type="text" class="form-control" placeholder="Subject 1">
      <br>
      <input th:field="${dummy.subjects[__1__].subjectCode}" type="text" class="form-control" placeholder="Subject 2">
      <br>
      <input th:field="${dummy.subjects[__2__].subjectCode}" type="text" class="form-control" placeholder="Subject 3">
      <br>
      <input th:field="${dummy.subjects[__3__].subjectCode}" type="text" class="form-control" placeholder="Subject 4">
      <br>
      <input th:field="${dummy.subjects[__4__].subjectCode}" type="text" class="form-control" placeholder="Subject 5">
      <br>
      <input th:field="${dummy.subjects[__5__].subjectCode}" type="text" class="form-control" placeholder="Subject 6">
      <br>
      <input th:field="${dummy.subjects[__6__].subjectCode}" type="text" class="form-control" placeholder="Subject 7">
      <br>
      <input th:field="${dummy.subjects[__7__].subjectCode}" type="text" class="form-control" placeholder="Subject 8">
      <br>
      <input th:field="${dummy.subjects[__8__].subjectCode}" type="text" class="form-control" placeholder="Subject 9">
      <br>
      <input th:field="${dummy.subjects[__9__].subjectCode}" type="text" class="form-control" placeholder="Subject 10">
    </div>
    
  </div>
  <br>
  
  </div>
  <button type="submit" class="btn btn-primary">ADD</button>
</form>
</div>
      </section>
  </div>
  <!-- Timetable -->
  <div class="tab-content" id="timetable">
      <section class="wrapper">
        
        <div class="wrapper-container">

          <!----------------------------------------------staff timetable------------------------------------------>
        <div class="staff-timetable">
          <center><h2>STAFF Timetable</h2></center>
          
          <input type="hidden" th:id="staff-timetable" th:field="${dummy.user.department}">
        <center><select class="staff-filter1" onchange="document.getElementById('staff-timetable').value=this.value;">
          <option disabled selected="selected" value="0" placeholder="Department">Department</option>
         <option
              			th:each="dept: ${T(com.lxisoft.sas.domain.enumeration.Department).values()}"
						th:value="${dept}" 
						th:text="${dept}">
			  </option>
        </select>
        
        <select class="staff-filter2">
          <option disabled selected=selected value="0" placeholder="STAFF">STAFF</option>
          <option value="staff1" >STAFF 1</option>
          <option value="ece">STAFF 2</option>
          <option value="eee">STAFF 3</option>
          <option value="ce">STAFF 4</option>
          <option value="me">STAFF 5</option>
        </select>
        </center>

        <center><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createstafftimetableModal"><span class="glyphicon glyphicon-plus"></span>
  Create timetable
</button>

<!-- Modal -->
<div class="modal fade-in bd-example-modal-lg" id="createstafftimetableModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
  <form action="/staff-timetable" method="post">
    <div class="modal-content">
      <div class="modal-header">
        <center><h5 class="modal-title" id="myLargeModalLabel">CREATE STAFF TIMETABLE</h5></center>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
        <table class="table table-bordered table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Hour 1</th>
      <th scope="col">Hour 2</th>
      <th scope="col">Hour 3</th>
      <th scope="col">Hour 4</th>
      <th scope="col">Hour 5</th>
      <th scope="col">Hour 6</th>
      <th scope="col">Hour 7</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Monday</th>
      <td contenteditable="true"><input th:field="${dummy.subList[__0__].subjectCode}" class="ttfield" type="text"/></td>
      <td contenteditable="true"><input th:field="${dummy.subList[__1__].subjectCode}" class="ttfield" type="text"/></td>
      <td contenteditable="true"><input th:field="${dummy.subList[__2__].subjectCode}" class="ttfield" type="text"/></td>
      <td contenteditable="true"><input th:field="${dummy.subList[__3__].subjectCode}" class="ttfield" type="text"/></td>
      <td contenteditable="true"><input th:field="${dummy.subList[__4__].subjectCode}" class="ttfield" type="text"/></td>
      <td contenteditable="true"><input th:field="${dummy.subList[__5__].subjectCode}" class="ttfield" type="text"/></td>
      <td contenteditable="true"><input th:field="${dummy.subList[__6__].subjectCode}" class="ttfield" type="text"/></td>
    </tr>
    <tr>
      <th scope="row">Tuesday</th>
      <td contenteditable="true"><input th:field="${dummy.subList[__7__].subjectCode}" class="ttfield" type="text"/></td>
      <td contenteditable="true"><input th:field="${dummy.subList[__8__].subjectCode}" class="ttfield" type="text"/></td>
      <td contenteditable="true"><input th:field="${dummy.subList[__9__].subjectCode}" class="ttfield" type="text"/></td>
      <td contenteditable="true"><input th:field="${dummy.subList[__10__].subjectCode}" class="ttfield" type="text"/></td>
      <td contenteditable="true"><input th:field="${dummy.subList[__11__].subjectCode}" class="ttfield" type="text"/></td>
      <td contenteditable="true"><input th:field="${dummy.subList[__12__].subjectCode}" class="ttfield" type="text"/></td>
      <td contenteditable="true"><input th:field="${dummy.subList[__13__].subjectCode}" class="ttfield" type="text"/></td>
      
    </tr>
    <tr>
      <th scope="row">Wednesday</th>
      <td contenteditable="true"><input th:field="${dummy.subList[__14__].subjectCode}" class="ttfield" type="text"/></td>
      <td contenteditable="true"><input th:field="${dummy.subList[__15__].subjectCode}" class="ttfield" type="text"/></td>
      <td contenteditable="true"><input th:field="${dummy.subList[__16__].subjectCode}" class="ttfield" type="text"/></td>
      <td contenteditable="true"><input th:field="${dummy.subList[__17__].subjectCode}" class="ttfield" type="text"/></td>
      <td contenteditable="true"><input th:field="${dummy.subList[__18__].subjectCode}" class="ttfield" type="text"/></td>
      <td contenteditable="true"><input th:field="${dummy.subList[__19__].subjectCode}" class="ttfield" type="text"/></td>
      <td contenteditable="true"><input th:field="${dummy.subList[__20__].subjectCode}" class="ttfield" type="text"/></td>

    </tr>
    <tr>
      <th scope="row">Thursday</th>
      <td contenteditable="true"><input th:field="${dummy.subList[__21__].subjectCode}" class="ttfield" type="text"/></td>
      <td contenteditable="true"><input th:field="${dummy.subList[__22__].subjectCode}" class="ttfield" type="text"/></td>
      <td contenteditable="true"><input th:field="${dummy.subList[__23__].subjectCode}" class="ttfield" type="text"/></td>
      <td contenteditable="true"><input th:field="${dummy.subList[__24__].subjectCode}" class="ttfield" type="text"/></td>
      <td contenteditable="true"><input th:field="${dummy.subList[__25__].subjectCode}" class="ttfield" type="text"/></td>
      <td contenteditable="true"><input th:field="${dummy.subList[__26__].subjectCode}" class="ttfield" type="text"/></td>
      <td contenteditable="true"><input th:field="${dummy.subList[__27__].subjectCode}" class="ttfield" type="text"/></td>

    </tr>
    <tr>
      <th scope="row">Friday</th>
      <td contenteditable="true"><input th:field="${dummy.subList[__28__].subjectCode}" class="ttfield" type="text"/></td>
      <td contenteditable="true"><input th:field="${dummy.subList[__29__].subjectCode}" class="ttfield" type="text"/></td>
      <td contenteditable="true"><input th:field="${dummy.subList[__30__].subjectCode}" class="ttfield" type="text"/></td>
      <td contenteditable="true"><input th:field="${dummy.subList[__31__].subjectCode}" class="ttfield" type="text"/></td>
      <td contenteditable="true"><input th:field="${dummy.subList[__32__].subjectCode}" class="ttfield" type="text"/></td>
      <td contenteditable="true"><input th:field="${dummy.subList[__33__].subjectCode}" class="ttfield" type="text"/></td>
      <td contenteditable="true"><input th:field="${dummy.subList[__34__].subjectCode}" class="ttfield" type="text"/></td>

    </tr>
  </tbody>
</table>
</div> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
      </form>
    </div>
  </div>
</div>

<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#viewstafftimetableModal"><span class="glyphicon glyphicon-search"></span>
  View timetable
</button></center>
<!-- view staff timetable Modal -->
<div class="modal fade-in bd-example-modal-lg" id="viewstafftimetableModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <center><h5 class="modal-title" id="myLargeModalLabel">EDIT STAFF TIMETABLE</h5></center>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
        <table class="table table-bordered table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Hour 1</th>
      <th scope="col">Hour 2</th>
      <th scope="col">Hour 3</th>
      <th scope="col">Hour 4</th>
      <th scope="col">Hour 5</th>
      <th scope="col">Hour 6</th>
      <th scope="col">Hour 7</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Monday</th>
      <td contenteditable="true"></td>
      <td contenteditable="true"></td>
      <td contenteditable="true"></td>
      <td contenteditable="true"></td>
      <td contenteditable="true"></td>
      <td contenteditable="true"></td>
      <td contenteditable="true"></td>
    </tr>
    <tr>
      <th scope="row">Tuesday</th>
      <td contenteditable="true"></td>
      <td contenteditable="true"></td>
      <td contenteditable="true"></td>
      <td contenteditable="true"></td>
      <td contenteditable="true"></td>
      <td contenteditable="true"></td>
      <td contenteditable="true"></td>
    </tr>
    <tr>
      <th scope="row">Wednesday</th>
      <td contenteditable="true"></td>
      <td contenteditable="true"></td>
      <td contenteditable="true"></td>
      <td contenteditable="true"></td>
      <td contenteditable="true"></td>
      <td contenteditable="true"></td>
      <td contenteditable="true"></td>
    </tr>
    <tr>
      <th scope="row">Thursday</th>
      <td contenteditable="true"></td>
      <td contenteditable="true"></td>
      <td contenteditable="true"></td>
      <td contenteditable="true"></td>
      <td contenteditable="true"></td>
      <td contenteditable="true"></td>
      <td contenteditable="true"></td>
    </tr>
    <tr>
      <th scope="row">Friday</th>
      <td contenteditable="true"></td>
      <td contenteditable="true"></td>
      <td contenteditable="true"></td>
      <td contenteditable="true"></td>
      <td contenteditable="true"></td>
      <td contenteditable="true"></td>
      <td contenteditable="true"></td>
    </tr>
  </tbody>
</table>
<div class="form-group">
  <input type="button" class="btn btn-warning btn-sm pull-right" value="Reset">
  <div class="clearfix"></div>
</div>
</div> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger">Cancel</button>
        <button type="button" class="btn btn-primary">Update</button>
      </div>
    </div>
  </div>
</div>
<!-- --------------------------------------------------------------------- -->


      </div>
      <br><br><br>

<!------------------------------------------class timetable------------------------------------------>

      <div class="class-timetable">
        <center><h2>CLASS Timetable</h2></center>
		<input type="hidden" th:id="class-timetable-dept" th:field="${dummy.user.department}">
       <center><select class="class-filter1" onchange="document.getElementById('class-timetable-dept').value=this.value;">
          <option disabled selected="selected" value="0" placeholder="Department">Department</option>
          <option
                        th:each="dept: ${T(com.lxisoft.sas.domain.enumeration.Department).values()}"
						th:value="${dept}" 
						th:text="${dept}">
		  </option>
        </select>
        <input type="hidden" th:id="class-timetable-sem" th:field="${dummy.user.semester}">
        <select class="class-filter2" onchange="document.getElementById('class-timetable-sem').value=this.value;">
          <option disabled selected="selected" value="0" placeholder="Semester">SEMESTER</option>
         <option
              			th:each="semester: ${T(com.lxisoft.sas.domain.enumeration.Semester).values()}"
						th:value="${semester}"
						th:text="${semester}">
			  </option>
        </select>
        </center>



        <center><button href="#" class="btn btn-primary" data-toggle="modal" data-target="#createclasstimetableModal"><span class="glyphicon glyphicon-plus"></span>
  Create timetable
</button>
<!-- create class timetable Modal -->
<div class="modal fade-in bd-example-modal-lg" id="createclasstimetableModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
  <form action="/class-timetable" method="post">
    <div class="modal-content">
      <div class="modal-header">
        <center><h5 class="modal-title" id="myLargeModalLabel">CREATE CLASS TIMETABLE</h5></center>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
        
        <table class="table table-bordered table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Hour 1</th>
      <th scope="col">Hour 2</th>
      <th scope="col">Hour 3</th>
      <th scope="col">Hour 4</th>
      <th scope="col">Hour 5</th>
      <th scope="col">Hour 6</th>
      <th scope="col">Hour 7</th>
    </tr>
  </thead>
  <tbody>
  
    <tr>
      <th scope="row">Monday</th>
      <td contenteditable="true"><input th:field="${dummy.subList[__0__].subjectCode}" class="ttfield" type="text"/></td>
      <td contenteditable="true"><input th:field="${dummy.subList[__1__].subjectCode}" class="ttfield" type="text"/></td>
      <td contenteditable="true"><input th:field="${dummy.subList[__2__].subjectCode}" class="ttfield" type="text"/></td>
      <td contenteditable="true"><input th:field="${dummy.subList[__3__].subjectCode}" class="ttfield" type="text"/></td>
      <td contenteditable="true"><input th:field="${dummy.subList[__4__].subjectCode}" class="ttfield" type="text"/></td>
      <td contenteditable="true"><input th:field="${dummy.subList[__5__].subjectCode}" class="ttfield" type="text"/></td>
      <td contenteditable="true"><input th:field="${dummy.subList[__6__].subjectCode}" class="ttfield" type="text"/></td>
    </tr>
    <tr>
      <th scope="row">Tuesday</th>
      <td contenteditable="true"><input th:field="${dummy.subList[__7__].subjectCode}" class="ttfield" type="text"/></td>
      <td contenteditable="true"><input th:field="${dummy.subList[__8__].subjectCode}" class="ttfield" type="text"/></td>
      <td contenteditable="true"><input th:field="${dummy.subList[__9__].subjectCode}" class="ttfield" type="text"/></td>
      <td contenteditable="true"><input th:field="${dummy.subList[__10__].subjectCode}" class="ttfield" type="text"/></td>
      <td contenteditable="true"><input th:field="${dummy.subList[__11__].subjectCode}" class="ttfield" type="text"/></td>
      <td contenteditable="true"><input th:field="${dummy.subList[__12__].subjectCode}" class="ttfield" type="text"/></td>
      <td contenteditable="true"><input th:field="${dummy.subList[__13__].subjectCode}" class="ttfield" type="text"/></td>
      
    </tr>
    <tr>
      <th scope="row">Wednesday</th>
      <td contenteditable="true"><input th:field="${dummy.subList[__14__].subjectCode}" class="ttfield" type="text"/></td>
      <td contenteditable="true"><input th:field="${dummy.subList[__15__].subjectCode}" class="ttfield" type="text"/></td>
      <td contenteditable="true"><input th:field="${dummy.subList[__16__].subjectCode}" class="ttfield" type="text"/></td>
      <td contenteditable="true"><input th:field="${dummy.subList[__17__].subjectCode}" class="ttfield" type="text"/></td>
      <td contenteditable="true"><input th:field="${dummy.subList[__18__].subjectCode}" class="ttfield" type="text"/></td>
      <td contenteditable="true"><input th:field="${dummy.subList[__19__].subjectCode}" class="ttfield" type="text"/></td>
      <td contenteditable="true"><input th:field="${dummy.subList[__20__].subjectCode}" class="ttfield" type="text"/></td>

    </tr>
    <tr>
      <th scope="row">Thursday</th>
      <td contenteditable="true"><input th:field="${dummy.subList[__21__].subjectCode}" class="ttfield" type="text"/></td>
      <td contenteditable="true"><input th:field="${dummy.subList[__22__].subjectCode}" class="ttfield" type="text"/></td>
      <td contenteditable="true"><input th:field="${dummy.subList[__23__].subjectCode}" class="ttfield" type="text"/></td>
      <td contenteditable="true"><input th:field="${dummy.subList[__24__].subjectCode}" class="ttfield" type="text"/></td>
      <td contenteditable="true"><input th:field="${dummy.subList[__25__].subjectCode}" class="ttfield" type="text"/></td>
      <td contenteditable="true"><input th:field="${dummy.subList[__26__].subjectCode}" class="ttfield" type="text"/></td>
      <td contenteditable="true"><input th:field="${dummy.subList[__27__].subjectCode}" class="ttfield" type="text"/></td>

    </tr>
    <tr>
      <th scope="row">Friday</th>
      <td contenteditable="true"><input th:field="${dummy.subList[__28__].subjectCode}" class="ttfield" type="text"/></td>
      <td contenteditable="true"><input th:field="${dummy.subList[__29__].subjectCode}" class="ttfield" type="text"/></td>
      <td contenteditable="true"><input th:field="${dummy.subList[__30__].subjectCode}" class="ttfield" type="text"/></td>
      <td contenteditable="true"><input th:field="${dummy.subList[__31__].subjectCode}" class="ttfield" type="text"/></td>
      <td contenteditable="true"><input th:field="${dummy.subList[__32__].subjectCode}" class="ttfield" type="text"/></td>
      <td contenteditable="true"><input th:field="${dummy.subList[__33__].subjectCode}" class="ttfield" type="text"/></td>
      <td contenteditable="true"><input th:field="${dummy.subList[__34__].subjectCode}" class="ttfield" type="text"/></td>

    </tr>
  </tbody>
</table>

</div> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
      </form>
    </div>
    
  </div>
</div>
<!-- ------------------view/Edit class timtable modal----------------- -->
<button class="btn btn-secondary" href="#" data-toggle="modal" data-target="#viewclasstimetableModal"><span class="glyphicon glyphicon-search"></span>
  View timetable
</button></center>
<!-- view class timetable Modal -->
<div class="modal fade-in bd-example-modal-lg" id="viewclasstimetableModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <center><h5 class="modal-title" id="myLargeModalLabel">EDIT CLASS TIMETABLE</h5></center>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
        <table class="table table-bordered table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Hour 1</th>
      <th scope="col">Hour 2</th>
      <th scope="col">Hour 3</th>
      <th scope="col">Hour 4</th>
      <th scope="col">Hour 5</th>
      <th scope="col">Hour 6</th>
      <th scope="col">Hour 7</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Monday</th>
      <td contenteditable="true"></td>
      <td contenteditable="true"></td>
      <td contenteditable="true"></td>
      <td contenteditable="true"></td>
      <td contenteditable="true"></td>
      <td contenteditable="true"></td>
      <td contenteditable="true"></td>
    </tr>
    <tr>
      <th scope="row">Tuesday</th>
      <td contenteditable="true"></td>
      <td contenteditable="true"></td>
      <td contenteditable="true"></td>
      <td contenteditable="true"></td>
      <td contenteditable="true"></td>
      <td contenteditable="true"></td>
      <td contenteditable="true"></td>
    </tr>
    <tr>
      <th scope="row">Wednesday</th>
      <td contenteditable="true"></td>
      <td contenteditable="true"></td>
      <td contenteditable="true"></td>
      <td contenteditable="true"></td>
      <td contenteditable="true"></td>
      <td contenteditable="true"></td>
      <td contenteditable="true"></td>
    </tr>
    <tr>
      <th scope="row">Thursday</th>
      <td contenteditable="true"></td>
      <td contenteditable="true"></td>
      <td contenteditable="true"></td>
      <td contenteditable="true"></td>
      <td contenteditable="true"></td>
      <td contenteditable="true"></td>
      <td contenteditable="true"></td>
    </tr>
    <tr>
      <th scope="row">Friday</th>
      <td contenteditable="true"></td>
      <td contenteditable="true"></td>
      <td contenteditable="true"></td>
      <td contenteditable="true"></td>
      <td contenteditable="true"></td>
      <td contenteditable="true"></td>
      <td contenteditable="true"></td>
    </tr>
  </tbody>
</table>
<div class="form-group">
  <input type="button" class="btn btn-warning btn-sm pull-right" value="Reset">
  <div class="clearfix"></div>
</div>
</div> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger">Cancel</button>
        <button type="button" class="btn btn-primary">Update</button>
      </div>
    </div>
  </div>
</div>
<!------------------------------------------------------------------------->

      </div>
    </div>
      </section>
  </div>
  <!-- LOGOUT -->
  <div class="tab-content" id="logout">
      <section class="wrapper">
        <h2>LOGOUT</h2>
      </section>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script type="text/javascript" src="js/custom.js"></script>
</body>

</html>