<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/custom.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<title>Faculty Dashboard</title>
</head>
<body>
  <div class="sidenav" id="navmenu">
  <center><h2>DASHBOARD</h2></center>
  <ul>

    <li><a href="#faculty-profile">My Profile</a></li>
    <li><a href="#course-enroll">Course-enroll</a></li>
    <li><a href="#leave-request">Leave Request</a></li>
    <li><a href="#timetable" >Timetable</a></li> 
    <li><a href="#assignment">Assignments</a></li>
    <li><a href="#logout">Logout</a></li>
 
  </ul>
  
</div>

  <!-- COURSE-ENROLL -->
  <div class="tab-content" id="course-enroll">
      <section class="wrapper">
        <h2>COURSE ENROLLMENT</h2>
        <br><br>
        
        <select class="course-filter3 col-2">
          <option disabled selected="selected" value="0" placeholder="Subject">SUBJECT</option>
         <option value="subject1"> Subject 1</option>
         <option value="subject2"> Subject 2</option>
         <option value="subject3"> Subject 3</option>
         <option value="subject4"> Subject 4</option>
         <option value="subject5"> Subject 5</option>
         <option value="subject6"> Subject 6</option>
         <option value="subject7"> Subject 7</option>
         <option value="subject8"> Subject 8</option>
        </select>     
        &nbsp &nbsp &nbsp &nbsp &nbsp 
  		<button type="submit" class="btn btn-primary"> ENROLL</button>
      </section>
  </div>
  

  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script type="text/javascript" src="js/custom.js"></script>
</body>

</html>