<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/custom.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<title>Student Dashboard</title>
</head>
<body>
  <div class="sidenav" id="navmenu">
  <center><h2>DASHBOARD</h2></center>
  <ul>

  <li><a href="#student-profile">My Profile</a></li>
  <li><a href="#leave-request">Leave Request</a></li>
  <li><a href="#timetable">Timetable</a></li>
  <li><a href="#assignment">Assignment</a></li>
 
  </ul>
  <a class="logout" href="/user-logout">Logout</a>
</div>
<!-- My Profile -->
  <div class="tab-content" id="student-profile">
      <section class="wrapper">
       <br>
       <center> <h2>My Profile</h2></center>
       <br>
        <center><div class="card">
  <img src="images/passport.jpg" class="card-img-top" alt="avatar">
  <div class="card-body">
  	<p class="card-text" th:text="'Id: '+${student.id}"> ID:1</p>
    <p class="card-text" th:text="'FirstName: '+${student.firstName}">FIRST NAME :ARTHADH </p>
    <p class="card-text" th:text="'LastName: '+${student.lastName}">LAST NAME : BALAN</p>
    <p class="card-text" th:text="'Date Of Birth: '+${student.dob}">DATE OF BIRTH</p>
    <p class="card-text" th:text="'ContactNo: '+${student.contactNumber}">MOBILE NO: 7736381278 </p>
    <p class="card-text" th:text="'Registration Number: '+${student.regNum}">REGISTRATION NUM:</p>
    <p class="card-text" th:text="'Email: ' + ${student.email}">EMAIL: arthadhkallingal@live.com</p>    
  </div>
</div>
</center>
      </section>
  </div>
  <!-- Leave Request -->
  <form class="tab-content" id="leave-request" action="/student/apply-leave" method="post" th:object="${leave}">
      <section class="wrapper">
       <center><h2>LEAVE MANAGEMENT</h2></center>
        <div class="leave-form">
        <form>

      <div class="leave-form-header">
        <center><h2>LEAVE FORM</h2></center>
      </div>

      <div>
        <label class="fromlabel">From Date: DD-MM-YYYY</label>
        <input type="text" th:name="dateFrom">
        <label class="fromlabel">To Date: DD-MM-YYYY</label>
        <input type="text" th:name="dateTo">
      </div>
      <div class="leave-reason">
        <label>Reason:</label><input type="text" th:field="*{reason}" class="reason" name="leave-reason">
        <input type="hidden" th:field="*{appliedById}" th:value="${student.id}">
      </div>
      <br><br><br>
      <center><button class="leave-btn" type="submit">Apply for Leave</button></center>
      </form>
      </div>

    <div class="my-leave-requests">
      
      <center><h3><u>Leave Requests</u></h3></center>
      <br>
      <br>
      <div class="leave-history">
        <div class="alert alert-warning">
          1.<a href="#" data-toggle="modal" data-target="#leaveModal">Leave request 1</a><br>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Status: PENDING  &nbsp<span class="glyphicon glyphicon-exclamation-sign"></span><br>
			<div class="modal fade-in bd-example-modal-lg" id="leaveModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    
      <div class="modal-header">
        <center><h5 class="modal-title" id="myLargeModalLabel">Applied Leave</h5></center>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
      <p>From: </p>
      <p>To: </p>
      <br>
      <p><strong>REASON: </strong></p>       
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
        
      </div>
  </div>
</div>
</div>
<!------------------------------------------------------------------------->
 </div>
       
        
        <div class="alert alert-success">
          2.<a href="#" data-toggle="modal" data-target="#leaveModal">Leave request 2</a><br>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Status: ACCEPTED  &nbsp<span class="glyphicon glyphicon-ok-circle"></span><br>
        </div>
        <div class="alert alert-danger">
          3.<a href="#" data-toggle="modal" data-target="#leaveModal">Leave request 3</a><br>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Status: REJECTED &nbsp<span class="glyphicon glyphicon-remove-circle"></span><br>

        </div>   
      </div>
      
    </div>

    
      </section>
  </form>

  <!-- Timetable -->
  <div class="tab-content" id="timetable">
      <section class="wrapper">
        <h2>TIMETABLE</h2>
        <div class="table-responsive">
        <table class="table table-bordered table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Hour 1</th>
      <th scope="col">Hour 2</th>
      <th scope="col">Hour 3</th>
      <th scope="col">Hour 4</th>
      <th scope="col">Hour 5</th>
      <th scope="col">Hour 6</th>
      <th scope="col">Hour 7</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Monday</th>
      <td>--</td>
      <td>--</td>
      <td>--</td>
      <td>--</td>
      <td>--</td>
      <td>--</td>
      <td>--</td>
    </tr>
    <tr>
      <th scope="row">Tuesday</th>
      <td>--</td>
      <td>--</td>
      <td>--</td>
      <td>--</td>
      <td>--</td>
      <td>--</td>
      <td>--</td>
    </tr>
    <tr>
      <th scope="row">Wednesday</th>
      <td>--</td>
      <td>--</td>
      <td>--</td>
      <td>--</td>
      <td>--</td>
      <td>--</td>
      <td>--</td>
    </tr>
    <tr>
      <th scope="row">Thursday</th>
      <td>--</td>
      <td>--</td>
      <td>--</td>
      <td>--</td>
      <td>--</td>
      <td>--</td>
      <td>--</td>
    </tr>
    <tr>
      <th scope="row">Friday</th>
      <td>--</td>
      <td>--</td>
      <td>--</td>
      <td>--</td>
      <td>--</td>
      <td>--</td>
      <td>--</td>
    </tr>
  </tbody>
</table>
</div>
      </section>
  </div>
  <!-- Assignments -->
  <div class="tab-content" id="assignment">
      <section class="wrapper">
        <center><h2>Assignments</h2></center>
     <center><div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          DATA MINING
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <li>ASSIGNMENT 1 <a href=#>&nbsp &nbsp &nbsp &nbsp Status: SUBMTTED &nbsp<span class="glyphicon glyphicon-ok-circle"> </a></li>
        <li>ASSIGNMENT 2 <a href=#>&nbsp &nbsp &nbsp &nbsp Status: PENDING &nbsp<span class="glyphicon glyphicon-exclamation-sign"></a></li>
        <li>ASSIGNMENT 3 <a href=#>&nbsp &nbsp &nbsp &nbsp Status: PENDING &nbsp<span class="glyphicon glyphicon-exclamation-sign"></a></li>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          EMBEDDED SYSTEM
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        <li>ASSIGNMENT 1 <a href=#>&nbsp &nbsp &nbsp &nbsp Status: SUBMTTED &nbsp<span class="glyphicon glyphicon-ok-circle"> </a></li>
        <li>ASSIGNMENT 2 <a href=#>&nbsp &nbsp &nbsp &nbsp Status: PENDING &nbsp<span class="glyphicon glyphicon-exclamation-sign"></a></li>
        <li>ASSIGNMENT 3 <a href=#>&nbsp &nbsp &nbsp &nbsp Status: PENDING &nbsp<span class="glyphicon glyphicon-exclamation-sign"></a></li>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          ARTIFICIAL INTELLIGENCE
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        <li>ASSIGNMENT 1 <a href=#>&nbsp &nbsp &nbsp &nbsp Status: SUBMTTED &nbsp<span class="glyphicon glyphicon-ok-circle"> </a></li>
        <li>ASSIGNMENT 2 <a href=#>&nbsp &nbsp &nbsp &nbsp Status: PENDING &nbsp<span class="glyphicon glyphicon-exclamation-sign"></a></li>
        <li>ASSIGNMENT 3 <a href=#>&nbsp &nbsp &nbsp &nbsp Status: PENDING &nbsp<span class="glyphicon glyphicon-exclamation-sign"></a></li>
      </div>
    </div>
  </div>
</div>
</center>
      </section>
  </div>

  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script type="text/javascript" src="js/custom.js"></script>
</body>

</html>